*{  
    margin: 0;  
    padding: 0;  
    text-decoration: none;  
}  
#container{
    margin:20px auto;
    width: 1200px;
    height: 600px;
    border:1px solid #333;
    overflow: hidden; 
    position: relative; 
}
#list{
    width: 12000px;
    height: 600px;
    position: absolute;
    z-index: 1;
}
#list img{
    float: left;
    width: 1200px;
    height: 600px;
}
#buttons{
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    right: 250px;
}
#buttons .on {  
       background: #474550;  
}  
.arrow{
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 30px;  
    width: 40px;  
    height: 40px; 
    position: absolute;  
    z-index: 2;  
    top: 300px;  
    color: #fff;
    background:#7b8584 ;  
}  
.arrow:hover {  
    background-color: #b3a485;  
}
#pre {  
    left: 20px;  
}     
#next {  
    right: 20px;  
}  
  
#top {
  display: none;
  position: fixed;
  bottom: 40px; 
  right: 40px;
  border: none;
}
